<template>
  <iframe width="100%" height="100%" :src="url" allowfullscreen frameborder="0"></iframe>
</template>

<script>
export default {
  name: 'event',
  data () {
    return {
      url: 'https://livemap.getwemap.com/iframe.php?emmid=4913&token=K0EKSGZ04LO0JP2RS8EXMSD1K' + (this.$route.query.wemapHash ? this.$route.query.wemapHash : '')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}
</style>
