<template>
  <div class="hello">
    <div class="home-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Programme</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Géolocalisez toutes les scènes et lieux où se déroulent des événements,
        des rencontres nautiques, etc...
      </div>
      <div class="mdl-card__actions mdl-card--border">
          <router-link class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" to="/event" @click.native="hideMenu">
            Voir
          </router-link>
      </div>
    </div>
    <div class="home-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Informations pratiques</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Vous recherchez où manger, garer votre vélo ou faire une pause pipi...
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <router-link class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" to="/pratique" @click.native="hideMenu">
          voir
      </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js PWA'
    }
  },
  created: function () {
    let urlParams = new URLSearchParams(window.location.search)
    if (urlParams.has('wemapHash')) {
      this.$router.push({ name: 'Global', query: { wemapHash: urlParams.get('wemapHash') } })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}
.home-card-wide {
  width: 512px;
  margin: 50px auto;
}
@media screen and (max-width: 680px){
  .home-card-wide {
    width: 320px;
    margin: 50px auto;
  }
}
.home-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/fdl.png') center / cover;
}
</style>
